{{#each blogposts as |blogpost|}}
<!-- Blogpost cards -->
<section class="card">
  <header>
    <h2>{{user.username}}</h2>
  </header>
  <p>      
    <h3><a href="mailto:{{user.email}}">{{user.email}}</a></h3>
  </p>
</section>
{{/each}}