/* Create CSS variables at the root of the document to be used throughout the style sheet */
:root {
    --background: rgb(237, 241, 245);
    --background2: white;
    --feature1:  lightseagreen;
    --feature2: rgb(31, 33, 86);
    --highlight: rgb(242, 234, 20);
    --border: black;
    --text: black;
    --border-width: 1px;
    /* You can use it with any value that is repeated throughout the sheet */
    --border-radius: 5%;
  }

* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
    display: block;
    min-height: 100vh;
    background-color: var(--background);
}

.header {
    padding: 8px;
    text-align: center;
    background-color: var(--background);
    color: var(--text);
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
}

nav {
    display: flex;
    background-color: var(--background2);
    width: 100%;
  
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: var(--border);
    border-width: var(--border-width);
    
}

nav a {
    color: var(--text);
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--highlight);
    color: var(--text);
}

main {
    display: block;
    width: auto;
}

h2 {
    padding: 5px 0px;
    margin: 5px 0px;
}

footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background: var(--background2);
    color: var(--text);
    margin-top: auto;
}

.blogposts {
    background-color: var(--background2);
    padding: 20px;
    display: black;
    justify-content: space-evenly;
}

.card {
    width: 96%;
    padding: 10px;
    margin: 2% 2%;
    border-style: solid;
    border-width: var(--border-width);
    background-color: var(--background2);
}

.login-card {
    padding: 10px;
    flex: 0 0 0;
    margin: 40px;
    background-color: var(--background2);
    border-width: var(--border-width);
    width: auto;

}
.form-group {
    margin: 8px 8px;
}

.lower-buttons {
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin: 10px 30px;
}

.button {
    margin: 5px;
    border: none;
    background-color: var(--feature1);
    border-radius: var(--border-radius);
    padding: 2%;

}
/* The user's cursor is positioned over the element */
button:hover {
    background-color: var(--highlight);
    color: #fff;
  }
  
  /* The user is actively pressing down on the element */
  button:active {
    font-size: 180%;
    box-shadow: 0 0 10px #000 inset;
  }
  
  /* The element is currently in focus, either by tabbing to or clicking on it */
  button:focus {
    outline: none;
    border-color: #8ac4ff;
  }
  
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: row;
    }
  }
  